<div *ngIf="courseExam">
  <div class="card-body-title mt-3 pb-1">
    <div class="row s--list-group pt-3 pb-3">
      <div class="col-lg-9 col-md-9">
        <h5 [translate]="'CoursesLocal.GradingStatus'"></h5>
        <span [ngClass]="{'text-primary': courseExam.status.alternateName ==='open',
                          'text-danger':courseExam.status.alternateName ==='closed',
                          'text-warning':courseExam.status.alternateName ==='inprogress',
                          'text-success':courseExam.status.alternateName ==='completed'}">
          {{'CoursesLocal.GradingStatusTypes.' + courseExam.status.alternateName | translate}} -
          <span *ngIf="this.myHistory && this.myHistory.length > 0; else noHistory">
            <span [translate]="'CoursesLocal.YourSubmitDate'"></span>
          {{subDate | localizedDate: 'short'}} </span>
          <ng-template #noHistory>
            <span [translate]="'CoursesLocal.ClosedGrading'"></span>
          </ng-template>
        </span>
        <div *ngIf="courseExam.status.alternateName === 'inprogress' && this.loggedInstructor.user !== courseExam.completedByUser" [translate]="'CoursesLocal.RespondMessages.locked'">
        </div>
        <div *ngIf="courseExam.status.alternateName !== 'inprogress'" class="row pl-3">{{'CoursesLocal.RespondMessages.' + courseExam.status.alternateName | translate}}</div>
      </div>
      <div class="col-lg-3 col-md-3">
        <button type="button" class="btn btn-block btn-universis btn-brand rounded ml-0 responsive-width" (click)="exportGrades(courseExam)">
          <span class="d-none d-lg-block d-print-block" [translate]="'CoursesLocal.DownloadGrades'"></span>
          <span class="d-lg-none" [translate]="'CoursesLocal.DownloadSmall'"></span>
        </button>
        <button [disabled]="courseExam.status.alternateName === 'closed' || isLocked" type="button" class="btn btn-block btn-active-color btn-success ml-0" (click)="importGrades(courseExam.id)">
          <span class="d-none d-lg-block d-print-block" [translate]="'CoursesLocal.CommitGrades'"></span>
          <span class="d-lg-none" [translate]="'CoursesLocal.CommitSmall'"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Charts -->
  <div class="row s--list-group my-3 pl-0">
    <div class="col-12" *ngIf="!isLoading">
      <h5 [translate]="'CoursesLocal.Chart.Statistics'"></h5>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Exam'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsRegisters}} <span [translate]="'CoursesLocal.Chart.Registered'"></span>
          </div>
        </div>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Graded'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsGraded}}
          </div>
        </div>
        <div class="row border-bottom py-2 ml-1">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0">
            <span [translate]="'CoursesLocal.Chart.Successed'"></span>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {{studentsSuccessed}}
          </div>
        </div>

        <div class="row my-5 px-lg-5 px-md-3 px-1" *ngIf="studentsSuccessed>0" style="height: 300px">
          <div class="col-12">
            <h6 [translate]="'CoursesLocal.Chart.GroupByGrade'"></h6>
          </div>
          <canvas baseChart
                  [datasets]="chartGradesData"
                  [labels]="chartGradesLabels"
                  [options]="chartGradesOptions"
                  [legend]="chartGradesLegend"
                  [chartType]="chartGradesType"
                  [colors]="chartGradeColours">
          </canvas>
        </div>
      <!-- ./Charts -->
    </div>
  </div>

  <!-- History of Upload Grades -->
  <div class="row s--list-group pt-3 pb-3 mb-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div>
        <h5 [translate]="'CoursesLocal.HistoryChanges'">
        </h5>
      </div>
      <div *ngIf="this.uploadHistory && this.uploadHistory.length == 0">
        <span [translate]="'CoursesLocal.NoHistorySubmissionMsg'">
        </span>
      </div>
      <div class="row" *ngFor="let history of uploadHistory">
        <div *ngIf="history.additionalResult" class="col-lg-3 col-md-3 text-secondary d-none d-md-block">{{history.additionalResult.dateModified | localizedDate: 'short'}} ({{'CoursesLocal.ActionStatusTypes.' + history.actionStatus.alternateName | translate}})
        </div>
        <div *ngIf="history.additionalResult && history.additionalResult.user" class="col-lg-8 col-md-8 text-secondary">{{history.additionalResult.user.name}}
          <button class="btn btn-ghost-secondary btn-sm ml-lg-2 align-items-end" *ngIf="history.additionalResult.user.id === loggedInstructor?.user && history.attachments !=0" [translate]="'CoursesLocal.BtnShowText'" (click)="historyGrades(history.attachments)">
          </button>
        </div>
        <div class="col-lg-3 col-md-3 d-block d-md-none text-secondary">
          <div *ngIf="history.additionalResult">{{history.additionalResult.dateModified | localizedDate: 'short'}} 
            <i class="fa" [ngClass]="{'fa-check' : history.actionStatus?.alternateName === 'CompletedActionStatus',
                'fa-hourglass' : history.actionStatus?.alternateName === 'ActiveActionStatus',
                'fa-times' : history.actionStatus?.alternateName === 'FailedActionStatus'
                }">
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
