<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class="col-lg-6 col-sm-auto d-none d-md-block">
        <div class="card-title"><h5><span [translate]="'CoursesLocal.RegisteredStudents'"></span></h5></div>
      </div>
      <div class="col-10 d-md-none">
        <div class="card-title"><h5 [translate]="'CoursesLocal.RegisteredStudents'"></h5></div>
      </div>
      <div class="col-lg-6 col-sm-auto d-none d-md-block" align="right">
        <ng-template #tooltipTextContactAll><div [translate]="'NotAvailableFeature.ContactAll'" class="text-secondary font-sm"></div></ng-template>
        <button type="button" class="btn btn-secondary s--btn s--btn-secondary s--text disabled" [tooltip]="tooltipTextContactAll" placement="top"><span
          [translate]="'CoursesLocal.Communication'"></span></button>
        <button type="button" class="btn btn-secondary s--btn s--btn-secondary s--text " (click)="exportStudentList(selectedClass)"> <span
          [translate]="'CoursesLocal.DownloadList'"></span></button>
      </div>
      <div class="col-2 d-md-none pt-1" align="center">
          <div class="btn-group" dropdown>
            <i dropdownToggle class ="fa fa-ellipsis-v big-icon"></i>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right"  role="menu">
              <li role="menuitem"><span class="dropdown-item" align="right" (click)="exportStudentList(selectedClass)" [translate] ="'CoursesLocal.DownloadList'"></span></li>
              <li role="menuitem" [tooltip]="tooltipTextContactAll" placement="bottom"><a class="dropdown-item disabled" href="#"  [translate] = "'CoursesLocal.Communication'" ></a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="details_student_navbar d-none d-md-block">
      <form class="form-inline p-2 col">
        <div class="form-group col-auto">
          <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Filter'"></label>
          <div *ngIf="selectedClass?.sections && selectedClass?.sections.length > 0; else no_sections">
            <select [(ngModel)]="selectedClassSection" name="selectSection" class="form-control" (change)="selectChangeHandler(selectedClassSection)">
              <option [ngValue]="null"><span [translate]="'CoursesLocal.FilterBySection'"></span></option>
              <option *ngFor = "let section of selectedClass?.sections" [ngValue]="section.section"> {{section?.name}}</option>
            </select>
          </div>
          <ng-template #no_sections>
            <select class="form-control">
              <option ><span [translate]="'CoursesLocal.NoFilter'"></span></option>
            </select>
          </ng-template>
        </div>
        <div class="form-group col-lg-8 col-sm-7">
          <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Search'"></label>
          <input spellcheck="false" (keyup)="onSearchTextKeyUp($event)" type="text" id="searchText" [(ngModel)]="searchText"
                 (keydown)="onSearchTextKeyDown($event)" name="searchText" class="form-control col text-left" [placeholder]="'CoursesLocal.SearchPlaceHolder' | translate">
        </div>
      </form>
    </div>


    <ul class="sis--list-group sis--list-group-header">
      <li class="sis--list-group-item">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="sis--list-group-item_lg_column d-flex flex-row d-flex">{{'CoursesLocal.Name' | translate}}</div>
          <div class="sis--list-group-item_sm_column d-flex flex-row text-center">{{'CoursesLocal.Aem' | translate}}</div>
          <div class="sis--list-group-item_sm_column d-none d-md-block">{{'CoursesLocal.Semester' | translate}}</div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block">{{'CoursesLocal.Department' | translate}}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block">{{'CoursesLocal.Type' | translate}}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block"></div>
          <div class="sis--list-group-item_sm_column d-sm-block d-md-none d-lg-none d-xl-none"></div>
        </div>
      </li>
    </ul>
    <div class="inner__content"
         infinite-scroll
         [infiniteScrollDistance]="2"
         [infiniteScrollUpDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollContainer]="selector"
         [fromRoot]="true"
         (scrolled)="onScroll()">
    <ul class="sis--list-group sis--list-group-body">
      <li class="sis--list-group-item" *ngFor="let courseClassStudent of scrollValues">
        <div class="d-flex flex-row justify-content-center align-items-center list-color">
          <div class="sis--list-group-item_lg_column text-break d-flex flex-row ">{{courseClassStudent.student.familyName}} {{courseClassStudent.student.givenName}}</div>
          <div class="sis--list-group-item_sm_column d-flex flex-row text-center">{{courseClassStudent.student.studentIdentifier}}</div>
          <div class="sis--list-group-item_sm_column d-none d-md-block">{{courseClassStudent.registrationSemester}}</div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block">{{courseClassStudent.student.department.name}}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block">{{courseClassStudent.courseType.name}}</div>
          <div class="sis--list-group-item_md_column d-none d-md-block">
            <ng-template #tooltipTextContact><div [translate]="'NotAvailableFeature.ContactStudent'" class="text-secondary font-sm py-0"></div></ng-template>
            <button type="button" class="btn btn-secondary btn-block s--btn s--btn-secondary s--text pl-sm-1 pr-sm-1 disabled" [tooltip]="tooltipTextContact" placement="left">
              <span [translate]="'CoursesLocal.Communicate'"></span>
            </button>
          </div>
          <div class="sis--list-group-item_sm_column d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="col-1 d-md-none d-lg-none d-xl-none d-sm-block" align="right">
              <div class="btn-group" dropdown>
                <i dropdownToggle class="fa fa-ellipsis-v"></i>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                  <li role="menuitem" [tooltip]="tooltipTextContact" placement="bottom"><span class="dropdown-item disabled" href="#" [translate]="'CoursesLocal.Communicate'"></span></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
      </li>
    </ul>
  </div>
    </div>
  </div>
